<!DOCTYPE html>
<html>
<head>
  <title>Python Poker AI</title>
</head>
<body>
  <h1 style="font-family: Arial">Chicago Texas (Hold'em) Competition</h1>
  <p style="font-family: Arial">Upload your Python poker AI!</p>
  <form action="/api/createLobby" method="POST" enctype="multipart/form-data">
    <input type="file" name="script" accept=".py" required>
    <br>
    <input style="font-family: Arial" type="text" name="name" placeholder="Enter your name" required>
    <br>
    <button style="font-family: Arial" type="submit" id="createButton">Create Game</button>
  </form>
  <p id="lobbyCode"></p>
  <form action="/api/joinLobby" method="POST" enctype="multipart/form-data">
    <input type="file" name="scriptJoin" accept=".py" required>
    <br>
    <input style="font-family: Arial" type="text" name="nameJoin" placeholder="Enter your name" required>
    <br>
    <input style="font-family: Arial" type="text" name="joinCode" placeholder="Game code" required>
    <br>
    <button style="font-family: Arial" type="submit" id="joinButton">Join Game</button>
  </form>
  <p id="joinMessage"></p>
  <a href="/poker-table" id="startButton" style="display: none;">Start Game</a>

  <script>
    document.getElementById('joinButton').addEventListener('click', async function(event) {
      event.preventDefault();
      
      const joinCode = document.getElementsByName('joinCode')[0].value;
      const uploadedScript = document.getElementsByName('scriptJoin')[0].files[0];
      const name = document.getElementsByName('nameJoin')[0].value;

      if (!uploadedScript || !name || !joinCode) {
        alert('Please select a file and enter your name.');
        return;
      }

      const formData = new FormData();
      formData.append('script', uploadedScript);
      formData.append('name', name);
      formData.append('game_id', joinCode);
      
      try {
        const response = await fetch('/api/joinLobby', {
          method: 'POST',
          body: formData,
        });
        const data = await response.json();

        document.getElementById('joinMessage').textContent = 'Joined game successfully';
        document.getElementById('startButton').style.display = 'block';
      } catch (error) {
        console.error('Error uploading file:', error);
      }
    });

    document.getElementById('createButton').addEventListener('click', async function(event) {
      event.preventDefault(); // Prevent the form from submitting

      const uploadedScript = document.getElementsByName('script')[0].files[0];
      const name = document.getElementsByName('name')[0].value;

      if (!uploadedScript || !name) {
        alert('Please select a file and enter your name.');
        return;
      }

      const formData = new FormData();
      formData.append('script', uploadedScript);
      formData.append('name', name);

      try {
        const response = await fetch('/api/createLobby', {
          method: 'POST',
          body: formData,
        });
        const data = await response.json();

        document.getElementById('lobbyCode').textContent = `Lobby Code: ${data.code}`;
        document.getElementById('startButton').style.display = 'inline-block';
      } catch (error) {
        console.error('Error uploading file:', error);
      }
    });

    document.getElementById('startButton').addEventListener('click', async function(event) {
      const formData = new FormData();
      formData.append('game_id', 56396);
      formData.append('big_blind', 2);
      formData.append('small_blind', 1);
      formData.append('num_iters', 1000);
      
      try {
        const response = await fetch('/api/startGame', {
          method: 'POST',
          body: formData,
        });
        const data = await response.json();
      } catch (error) {
        console.error('Error uploading file:', error);
      }

      window.location.href = '/poker-table';
    });
  </script>
</body>
</html>